:root {
  --color-nav: grey;
  --blaaskaak-red: #b2274b;
  --blaaskaak-blue: #1746a2;
  --blaaskaak-white: #fff7e9;
}

* {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  box-sizing: border-box;
}

body {
  padding-top: 2em;
  background-color: var(--blaaskaak-white);
  color: var(--blaaskaak-red);
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  max-width: 70em;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5vw;
}

#logo {
  max-width: 120px;
  height: auto;
  flex: 0 0 auto;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.35);
  }
}

nav {
  flex: 1 1 auto;
  min-width: 0;
  container-type: inline-size;
  justify-items: center;
}

nav ol {
  display: flex;
  column-gap: 2rem;
  row-gap: 0.7rem;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-nav);

  & li.current a {
    &::before {
      display: inline-block;
      content: '→';
      padding-right: 0.5em;
    }

    &::after {
      display: inline-block;
      content: '←';
      padding-left: 0.5em;
    }
  }

  & li {
    text-align: center;
    a {
      color: var(--color-main);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & li:not(:last-child) {
    padding-right: 2em;
    color: var(--color-main);
    border-right: 2px solid var(--color-nav);
  }
}

@container (max-width: 420px) {
  nav ol {
    flex-direction: column;
    align-items: stretch;
    white-space: normal;
    max-width: fit-content;
    padding: 1rem 3rem;

    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-image-source: url('/media/scribble.svg');
    border-image-slice: 30 0;
    border-image-repeat: stretch;

    & li {
      &:not(:last-child) {
        padding-right: 0;
        border: none;
      }
    }
  }
}

a {
  color: inherit;
}

a:hover {
  color: color-mix(in srgb, var(--blaaskaak-red) 70%, black 30%);
}

/* this adds a mail emoji before email addresses */
/* a[href^="mailto:"] { */
/*   color: inherit; */
/**/
/*   &::before { */
/*   content: '✉️ '; */
/*   user-select: none; */
/* } */

.container {
  text-align: center;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 800px;

  section {
    flex: 1 1 200px;
    padding: 10px;

    h2 {
      margin: 0;
      font-size: 2em;
      margin-bottom: 0.5em;
    }

    p {
      margin: 5px 0;
      font-size: 1em;
      text-align: left;
    }

    .emoji {
      font-size: 4em;
    }
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
