:root {
  --text: #1a1a1a;
  --blaaskaak-red: #b2274b;
  --blaaskaak-blue: #1746a2;
  --blaaskaak-white: #fff7e9;
}

* {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  box-sizing: border-box;
}

body {
  background-color: var(--blaaskaak-white);
  color: var(--text);
  min-height: 100vh;
  margin: 0;
}

header {
  display: flex;
  padding: 3rem min(10vw, 5rem) 1.5rem 2.5rem;
  justify-content: space-between;
  align-items: flex-start;

  & #logo {
    max-width: 150px;
    height: auto;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.35);
    }
  }

  & nav ol {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    margin: 2rem 0 0 0;
    align-items: center;

    & li {
      padding-left: 2rem;
      text-decoration: none;
      color: var(--text);
      font-weight: bold;

      &:not(:last-child) {
        padding-right: 2rem;
        border-right: 2px solid grey;
      }

      & a {
        text-decoration: none;
        text-transform: uppercase;
      }

      &.current a {
        &::before {
          display: inline-block;
          content: '→';
          padding-right: 0.5em;
        }

        &::after {
          display: inline-block;
          content: '←';
          padding-left: 0.5em;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  header {
    justify-content: space-around;
    max-width: 90vw;
    margin: 0 auto;
  }

  nav ol {
    flex-direction: column;
    gap: 0.6rem;
    padding: 1rem 2rem;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-image-source: url('/media/scribble.svg');
    border-image-slice: 30 0;
    border-image-repeat: stretch;

    & li {
      padding: 0;

      &:not(:last-child) {
        padding: 0;
        border: none;
      }
    }
  }
}

@media (max-width: 400px) {
  header {
    padding: 1rem 0 1rem 0;
    max-width: 95vw;
  }
}

main {
  max-width: 80vw;
  margin: 0 auto;

  & section {
    margin: 0 auto;
    max-width: 500px;
  }
}


a {
  color: inherit;

  &:hover {
    color: color-mix(in srgb, var(--blaaskaak-red) 70%, black 30%);
    text-decoration: underline;
  }
}


form {
  & label {
    display: block;
    margin-bottom: 0.5rem;

    &:has(+ :is(input, textarea, select)[required])::after {
      content: "*";
      color: var(--blaaskaak-red);
    }
  }

  input[type="text"],
  textarea,
  input[type="submit"],
  input[type="tel"],
  input[type="email"] {
    padding: 6px 12px;
    font-size: 14px;
    min-width: 30ch;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }

  & input:focus,
  & textarea:focus {
    border-color: var(--blaaskaak-red);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px var(--color-blue);
  }
}
