<!DOCTYPE html>
<html lang="nl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ .Site.Params.description }} ">
  <meta name="keywords" content="{{ delimit .Site.Params.keywords ", " }}">
  <meta name="author" content="Blaaskaak">
  <meta name="robots" content="index, follow">
  <meta property="og:title" content="Blaaskaak">
  <meta property="og:description" content="{{ .Site.Params.description }}">
  <meta property="og:image" content="{{ .Site.Params.shareImage }}">
  <meta property="og:url" content="{{ .Site.BaseURL }}">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ .Site.Params.shortDescription }}">
  <meta name="twitter:description" content="{{ .Site.Params.description }}">
  <meta name="twitter:image" content="{{ .Site.Params.shareImage }}">

  <title>{{ if not .IsHome }}{{ .Path | humanize }} | {{ end }}{{ .Site.Title }}!</title>

  <link rel="canonical" href="{{ .Site.BaseURL }}">
  {{ with resources.Get "css/style.css" }}<link rel="stylesheet" href="{{ .Permalink }}">{{ end }}
  {{ with resources.Get "css/event-list.css" }}<link rel="stylesheet" href="{{ .Permalink }}">{{ end }}

  {{ with resources.Get "js/calendar.js" }}<script src="{{ .Permalink }}" defer></script>{{ end }}
  {{ with resources.Get "js/nav-current-page.js" }}<script src="{{ .Permalink }}" defer></script>{{ end }}
</head>

<body>
  <header>
    <h1>🎷🥁🎺<br>{{ .Site.Title }}</h1>

    <nav>
      <ol>
        <li><a href="/homepage/">Home</a></li>
        <li><a href="/over-ons/">Over ons</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ol>
    </nav>
  </header>

  {{- block "content" . }}{{- end }}
</body>

</html>
