<!DOCTYPE html>
<html lang="nl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.Params.description }} ">
  <meta name="author" content="{{ site.Title }}">
  <meta name="robots" content="index, follow">
  <meta property="og:title" content="{{ site.Title }}">
  <meta property="og:description" content="{{ site.Params.description }}">
  <meta property="og:image" content="{{ site.Params.shareImage }}">
  <meta property="og:url" content="{{ site.BaseURL }}">
  <meta property="og:type" content="website">
  <!--<meta name="twitter:card" content="summary_large_image">-->
  <meta name="twitter:title" content="{{ site.Params.shortDescription }}">
  <meta name="twitter:description" content="{{ site.Params.description }}">
  <meta name="twitter:image" content="{{ site.Params.shareImage }}">

  <title>{{ if not .IsHome }}{{ .Path | humanize }} | {{ end }}{{ site.Title }}!</title>

  <link rel="icon" href="{{ site.Params.favicon }}">

  <link rel="canonical" href="{{ site.BaseURL }}">
  {{ with resources.Get "css/style.css" }}
  <link rel="stylesheet" href="{{ .Permalink }}">{{ end }}
  {{ with resources.Get "css/event-list.css" }}
  <link rel="stylesheet" href="{{ .Permalink }}">{{ end }}

  {{ with resources.Get "js/nav-current-page.js" }}
  <script src="{{ .Permalink }}" defer></script>{{ end }}
</head>

<body>
  <!--  <!--<h1>🎷🥁🎺<br>{{ site.Title }}</h1>-->

  <header>
    <a aria-label="Home" href="/">
      <img src="/media/logo-slechte-kwali.png" alt="Logo Blaaskaak" id="logo">
    </a>
    <nav>
      <ol>
        <li><a href="/homepage/">Home</a></li>
        <li><a href="/over-ons/">Over ons</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ol>
    </nav>
  </header>

  {{- block "content" . }}{{- end }}
</body>

</html>
