.list-container {
  padding: 1em;
}

.scale-up-hover-list {
  padding-left: .1em;
  width: 95%;
  list-style-type: none;
}

.scale-up-hover-list li {
  margin: 0;
  padding: .75em;
  background-color: white;
  border-top: none;
  border-right: 0 solid #eee;
  border-bottom: .05em solid #eee;
  border-left: .15em solid #ddd;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
  gap: 10px;

  &::after {
    content: "";
    display: block;
    clear: both;
  }

  &:hover {
    border-top: none;
    border-right: .1em solid #eee;
    border-bottom: .1em solid #eee;
    border-left: .2em solid var(--blaaskaak-red);
    -webkit-transform: translate3d(0,0,0,);
    transform: translate3d(0,0,0,);
    -webkit-transform: scale(1.025, 1.025);
    -moz-transform: scale(1.025, 1.025);
    -o-transform: scale(1.025, 1.025);
    -ms-transform: scale(1.025, 1.025);
    transform: scale(1.025, 1.025);
  }
}

.event-date {
  text-align: center;
  margin: 0;
  color: black;
  border-right: 2px var(--blaaskaak-red) solid;

  & .event-day {
    margin-top: .25em;
    margin-bottom: .25em;
    font-size: 2em;
    line-height: .75em;
    font-weight: 800;
  }

  & .event-month {
    margin: .005em 0;
    font-size: 1.5em;
    font-weight: 200;
  }
}


.event-details {
  overflow-wrap: anywhere;
  & h1 {
    display: block;
    margin-top: 0;
    margin-bottom: 0.4em;
    font-size: 1.2em;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  & .event-description,
  & .event-location {
    display: block;
    margin: 0;
    margin-top: .05em;
    width: 75%;
    color: var(--color-nav);
    font-size: 0.75em;
  }
}

#events > li > a {
  color: inherit;
}
