<div class="list-container">
  <ul id="events" class="scale-up-hover-list"></ul>

  <template id="event-template">
    <li>
      <div class="event-date">
        <p class="event-day"></p>
        <p class="event-month"></p>
      </div>
      <div class="event-details">
        <h1 class="event-title"></h1>
        <p class="event-location">
          <a href="" target="_blank" rel="noopener"></a>
        </p>
        <p class="event-description"></p>
      </div>
    </li>
  </template>
</div>

<script type="module">
  import { loadEvents } from "/js/events.js";
  loadEvents({{ .Get 0 }})
</script>
