name: Refresh Calendar

on:
  schedule:
    # TODO: change freq to every 2 days?
    - cron: '18 18 * * *'
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code from repository
      uses: actions/checkout@v4

    - name: Update calendar
      env:
        GCAL_URL: https://calendar.google.com/calendar/ical/3d4cae9300502ef446e65cc6d4434f3e39e818a3b34bd9d42c9c3b567b779a3f%40group.calendar.google.com/public/basic.ics
      run: |
        curl -L "$GCAL_URL" > static/events.ics
